body{
    background-color: red;
}

h1 {color: black;}

p {
    color: black;
    font-size: 120%;
}

#intro {
    color: black;
    background-color: wheat;
}

#intro .first em {
    color: brown;
    background-color: cadetblue;
}

p {
    color: black;
    /* This is a comment */
    font-size: 150%;
}