body{
    background-image: url("../imagenes/imagen\ fondo2.jpg");
}

ul{
    background-image: url("../imagenes/imagen-fondo.jpg");
}

/* Selector de tipo */
div{
    font-size: 110%;
    color: white;
}

/* Selector de id */

#Primero {
    background-color: black;
}
#Segundo {
    background-color: cadetblue;
}

/* Selector de clase */
.centrado {
    text-align: center; color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}